<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Responsive admin dashboard and web application ui kit. ">
  <meta name="keywords" content="login, signin">

  <title> Matcha </title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

  <!-- Styles -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/core.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../static/js/socket.js"></script>
 


  <!-- Favicons -->
  <!-- <link rel="apple-touch-icon" href="../assets/img/apple-touch-icon.png">
    <link rel="icon" href="../assets/img/favicon.png"> -->
</head>

<body>


  <!-- Topbar -->
  <header class="topbar">
    <div class="topbar-left">

      <a href="{{url_for('home')}}"></a> <img src="../static/img/logo.png" alt="" style="width: 40px; height: 45px;">
      </a>
      &nbsp;&nbsp;&nbsp; <a href="{{url_for('home')}}">
        <h3 class="topbar-title yellow_color"> Matcha </h3>
      </a>




    </div>
    <div class="topbar-right">
      <ul class="topbar-btns">
        <li class="dropdown">
          {% if not me %}
          <a href="{{ url_for('edit_profile') }}"> <span class="topbar-btn"  ><img class="avatar avatar-sm"
              src="../static/img/profile-user.png" alt="..."></span></a>
          {%else%}
          <a href="{{ url_for('edit_profile') }}"> <span class="topbar-btn"><img class="avatar avatar-sm"
                src="{{me.profile_pic}}"></span></a>
          {%endif%}

        </li>

        <li>
          <a href="{{ url_for('logout') }}"> <span class="topbar-btn"><i class="fa fa-power-off"></i></span></a>
        </li>
        <li>
          <a href="{{ url_for('edit_profile') }}"> <span class="topbar-btn"><i class="fa fa-user"></i></span></a>
        </li>
        <!-- Notifications -->
        <li class="dropdown" id=notif>
          {% if count_vue_notif['COUNT(*)'] != 0%}
          <span id="dot_notif" class="topbar-btn has-new" data-toggle="dropdown"><i class="fa fa-bell-o"></i></span>
          {% else %}
          <span id="dot_notif" class="topbar-btn " data-toggle="dropdown"><i class="fa fa-bell-o"></i></span>
          {%endif%}



          <div id="notif_list" class="dropdown-menu dropdown-menu-right">
            <!-- <a class="media media-new" > <span class="avatar bg-success"><i class="fa fa-thumbs-up"></i></span><div class="media-body"><p><strong>Like</strong> <time class="float-right"datetime="2017-07-14 20:00">dfdff</time></p><p>Like from fdf</p></div> -->
            <center>
              <p>New notification : <span id="count_notific"
                  class=" count_show badge  badge-pill badge-danger">{{count_vue_notif['COUNT(*)']}}</span>
                <p></p>
            </center>
            <div class="media-list media-list-divided media-list-hover scrollable" style="height: 280px">
              {% for notif in notification %}
              {% if notif.type != 'message'%}
              {% if notif.vue == 0 %}
              <a class="media media-new">
                {% elif notif.vue == 1 %}
                <a class="media">
                  {%endif%}

                  {% if notif.type == 'like'%}
                  <span class="avatar bg-success">
                    <i class="fa fa-thumbs-up"></i>
                  </span>
                  <div class="media-body">
                    <p><strong>{{notif.type}}</strong> <time class="float-right"
                        datetime="2017-07-14 20:00">{{notif.time}}</time></p>
                    <p>You were liked by {{notif.notifier}}</p>
                  </div>
                  {% elif notif.type == 'unlike'%}
                  <span class="avatar bg-warning">
                    <i class="fa fa-thumbs-down"></i>
                  </span>
                  <div class="media-body">
                    <p><strong>{{notif.type}}</strong> <time class="float-right"
                        datetime="2017-07-14 20:00">{{notif.time}}</time></p>
                    <p>You were unliked by {{notif.notifier}}</p>
                  </div>
                  {% elif notif.type == 'visit'%}
                  <span class="avatar bg-purple">
                    <i class="fa fa-eye"></i>
                  </span>
                  <div class="media-body">
                    <p><strong>{{notif.type}}</strong> <time class="float-right"
                        datetime="2017-07-14 20:00">{{notif.time}}</time></p>
                    <p>Your profile was visited by {{notif.notifier}}</p>
                  </div>
                  {% elif notif.type == 'block'%}
                  <span class="avatar badge-danger">
                    <i class="fa fa-times-circle" style="color: aliceblue;"></i>
                  </span>
                  <div class="media-body">
                    <p><strong>{{notif.type}}</strong> <time class="float-right"
                        datetime="2017-07-14 20:00">{{notif.time}}</time></p>
                    <p>Your were blocked by {{notif.notifier}}</p>
                  </div>
                  {% elif notif.type == 'unblocks'%}
                  <span class="avatar badge-dark">
                    <i class="fa fa-times-circle" style="color: aliceblue;"></i>
                  </span>
                  <div class="media-body">
                    <p><strong>{{notif.type}}</strong> <time class="float-right"
                        datetime="2017-07-14 20:00">{{notif.time}}</time></p>
                    <p>Your were unblocked by {{notif.notifier}}</p>
                  </div>
                  {% elif notif.type == 'match'%}
                  <span class="avatar bg-pink">
                    <i class="fa fa-heart" style="color: aliceblue;"></i>
                  </span>
                  <div class="media-body">
                    <p><strong>{{notif.type}}</strong> <time class="float-right"
                        datetime="2017-07-14 20:00">{{notif.time}}</time></p>
                    <p>Your were matched with {{notif.notifier}}</p>
                  </div>
                  {% elif notif.type == 'report'%}
                  <span class="avatar bg-dark">
                    <i class="fa fa-frown-o" style="color: aliceblue;"></i>
                  </span>
                  <div class="media-body">
                    <p><strong>{{notif.type}}</strong> <time class="float-right"
                        datetime="2017-07-14 20:00">{{notif.time}}</time></p>
                    <p>Your were reported by {{notif.notifier}}</p>
                  </div>
                  {% elif notif.type == 'unreport'%}
                  <span class="avatar bg-secondary">
                    <i class="fa fa-smile-o " style="color:black;"></i>
                  </span>
                  <div class="media-body">
                    <p><strong>{{notif.type}}</strong> <time class="float-right"
                        datetime="2017-07-14 20:00">{{notif.time}}</time></p>
                    <p>Your were unreported by {{notif.notifier}}</p>
                  </div>
                  {%endif%}

                  <!-- <div class="media-body">
                    <p><strong>{{notif.type}}</strong> <time class="float-right"
                        datetime="2017-07-14 20:00">{{notif.time}}</time></p>
                    <p>{{notif.type}} from {{notif.notifier}}</p>
                  </div> -->
                  {%endif%}
                </a>
                {% endfor %}







            </div>



          </div>
        </li>





        <!-- Messages -->
        <li class="dropdown">
          <span id="dot_msg" class="topbar-btn  " data-toggle="dropdown"><i class="fa fa-envelope-o"></i></span>
          <div id="notif_msg_list" class="dropdown-menu dropdown-menu-right">

            <div class="media-list media-list-divided media-list-hover scrollable" style="height: 280px">
              {% for notif in notification %}
              {% if notif.type == 'message'%}

              <a class="media media-new" href="{{url_for('chat', id = notif.id_notifier )}}">
                {% set data_notifier = notif.id_notifier | data_prof %}
                {% if data_notifier.id  in users_list %}
                <span class="avatar status-success">
                  <img src="{{data_notifier.profile_pic}}" alt="...">
                </span>
                {% else %}
                <span class="avatar status-danger">

                  <img src="{{data_notifier.profile_pic}}" alt="...">
                </span>
                {% endif %}

                <div class="media-body">
                  <p><strong>{{notif.notifier}}</strong> <time class="float-right"
                      datetime="2017-07-14 20:00">{{notif.time}}</time></p>

                  <p>New message</p>
                </div>
              </a>
              {%endif%}
              {%endfor%}





            </div>



          </div>
        </li>
        <!-- END Messages -->
        <li>
          <a href="{{ url_for('search') }}"> <span class="topbar-btn"><i class="fa fa-search"></i></span></a>
        </li>
      </ul>

    </div>
  </header>



  {% block content %} {% endblock %}






  <!-- Footer -->
  <footer class="site-footer">
    <div class="row">
      <div class="col-md-6">
        <p class="text-center text-md-left">Copyright © 2021 <a href="#">MATCHA</a>. All rights reserved.</p>
      </div>

      <div class="col-md-6">
        <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
          <li class="nav-item">
            <a class="nav-link" href="">Documentation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">FAQ</a>
          </li>

        </ul>
      </div>
    </div>
  </footer>
  <!-- END Footer -->




  <script src="{{ url_for('static', filename='js/core.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/app.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/script.min.js')}}"></script>

</body>

</html>