<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive admin dashboard and web application ui kit. ">
    <meta name="keywords" content="coming, soon, landing">

    <title>Confirm Email &mdash; Matcha</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <!-- Styles -->
    <link href="{{ url_for('static', filename='/css/core.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='/css/app.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='/css/style.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='/css/style.css')}}" rel="stylesheet">

   
  </head>

  <body class="h-fullscreen bg-img p-70" style="background-image: url(../static/img/back-1.jpg)" data-overlay="6">

    <h1><img src="{{ url_for('static', filename='/img/logo.png')}}"  style="width: 80px; height: 85px;" alt="logo"></h1>

    <br><br><br><br><br>

    
        <h1 class="display-1 heading-alt fw-700 text-white">Thanks ! <br>Your subscription <br>has been confirmed.</h1>
  

    <br><br><br><br><br>
 <div class="col-md-12">
   <center> <span class="input-group-btn">
       <a href="{{url_for('login')}}"> <button   class="btn btn-bold btn-outline btn-light" type="submit">Login</button></a>
      </span></center>
  </div>



    <!-- Scripts -->
    <script src="{{ url_for('static', filename='/js/core.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/app.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/script.min.js')}}"></script>

  </body>
</html>

